body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #141416;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  position: relative;
}
.main_body {
  background-color: #141416;
}
/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* .bgimg img {
  position: relative;
  object-fit: cover;
  top: -450px;
  height: 100hv;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
} */
/* animation: zoom-out 2s ease-in-out; */
/* .bgimg img:active {
  transform: scale(2);
  transition: transform 0.2s ease;
} */

.image {
  position: relative;
  height: 200vh;
  width: 100%;
  top: -200px;
  margin: auto;
  background-image: url(../../images/homebg.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  scale: 1;
}
.slideImg {
  position: relative;
  height: 140vh;
  width: 100%;
  top: -1045px;
  margin: auto;
  background-image: url(../../images/bgimg.jpg);
  background-position: center center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  overflow: hidden;
  /* animation: fade-left 3s ease-in-out; */
}
@keyframes fade-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
.fade_in {
  position: absolute;
  top: 200px;
  padding: 0px 0px 200px 100px;
  color: white;
  animation: fade-right 3s ease-in-out;
}
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade_in h2 {
  font-size: 5rem;
}
.fade_in p {
  font-size: 25px;
}

.box_btn {
  padding: 17px;
  background-color: red;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  margin: 15px 0px 0px;
}

.box_btn:hover {
  background-color: rgb(24, 24, 24);
  border: 2px solid white; /* Add a white border */
  color: white;
}

.mainContainer {
  width: 950px;
  top: -600px;
  position: relative;
  padding: 20px;
  /* background: rgb(24, 24, 24);  */
  background: linear-gradient(135deg, #181818, #7281b8cf);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(13, 110, 253, 0.25);
  margin-bottom: 40px;
  color: white;
  z-index: 997;
}
.mainContainer h1 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-weight: 600;
}
.scrapBox {
  display: flex;
  justify-content: center;
}
.custom-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #007bff;
}

form {
  display: grid;
  gap: 15px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

input[type="submit"] {
  /* background: linear-gradient(135deg, #00ffaa, #00aaff); */
  background-color: #ff0000db;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.footer {
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

.loading-indicator {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.loading-indicator.show {
  display: block;
}

.loading-indicator .spinner {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Custom Centered Pop-up */
.custom-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

.custom-popup.show {
  opacity: 1;
  visibility: visible;
}

.custom-popup h5 {
  margin-bottom: 15px;
  font-weight: bold;
  color: #007bff;
}

.custom-popup input[type="text"],
.custom-popup input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.custom-popup .popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.custom-popup .popup-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.popup-actions a {
  color: #007bff;
  text-decoration: none;
}

.popup-actions a:hover {
  text-decoration: underline;
}

/* Overlay Style */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 999;
  pointer-events: none;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

/* result page */

.main-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background: linear-gradient(135deg, #181818, #7281b8cf);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(13, 110, 253, 0.25);
  margin-bottom: 40px;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  border: 2px solid #007bff;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #007bff;
  color: #fff;
}

.table-container {
  margin-top: 20px;
  overflow-y: scroll;
  border-radius: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  /* Allows cells to adjust their width based on content */
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  position: relative;
  white-space: normal;
  /* Allows text to wrap to a new line */
  word-wrap: break-word;
  /* Ensures long words break to fit within the cell */
  max-width: 200px;
  max-height: 150px;
  /* Sets the maximum width for the cell */
}

th {
  background-color: #007bff;
  color: white;
  cursor: col-resize;
}

th::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: col-resize;
}

.scroll-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.scroll-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-buttons button:hover {
  background-color: #0056b3;
}

.scroll-buttons button:focus {
  outline: none;
}

.footer {
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

/* CSS for sorting dropdown */
.sort-form {
  display: flex;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.sort-form select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  width: 100%;
  /* max-width: 300px; */
}

.sort-form button {
  font-size: 16px;
  margin-top: -1px;
}

.sort-form button:hover {
  background-color: #0056b3;
}

/* history page  */

/* Main Content Styles */
.main-content {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: linear-gradient(135deg, #181818, #7281b8cf);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(13, 109, 253, 0.982);
  margin-bottom: 40px;
}

.main-content h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #007bff;
}

.main-content ul {
  list-style-type: none;
  padding: 0;
}

.main-content li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

.main-content li:hover {
  background-color: #d6d6d6;
  transform: scale(1.02);
}

.main-content li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  flex: 1;
}

.main-content li a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.rename-button,
.delete-button {
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 10px;
  transition: background-color 0.3s;
}
.rename-button {
  background-color: #007bff;
}
.delete-button {
  background-color: #dc3545;
}

.rename-button:hover {
  background-color: #0056b3;
}
.delete-button:hover {
  background-color: #d63d4d;
}
.no-files-message {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}
/* Index Number Styles */
.main-content li span.index-number {
  font-weight: bold;
  color: #007bff;
  margin-right: 10px;
  font-size: 1.1rem;
}

/* Search Bar Styles */
.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #ced4da;
}

.search-bar {
  position: relative;
}

.search-bar .search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #007bff;
  font-size: 1.2rem;
  cursor: pointer;
}

.search-bar input {
  padding-right: 40px;
}

/* Modal Styles */
.modal-content {
  border-radius: 8px;
}

.modal-header {
  background-color: #007bff;
  color: white;
}

.modal-footer .btn {
  border-radius: 4px;
}

/* styles.css */
.footer {
  background-color: #25252a;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  left: 0;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.footer a:hover {
  color: #f0ad4e; /* Change color on hover for a nice effect */
}

/* Profile CSS
/* Profile Styles */
.profile-container {
  background-color: #25252a;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 60%;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  color: #ffffff;
}

.profile-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #007bff;
}

.profile-container h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #e9ecef;
}

.logout-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #ff0000db;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
*/ .logout-button:hover {
  background-color: #d63d4d;
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile-container {
    width: 90%;
  }

  .profile-container h1 {
    font-size: 2rem;
  }

  .profile-container h2 {
    font-size: 1.2rem;
  }
}

/* About CSS */
/* About Page Styles */
.about-container {
  width: 800px; /* Restrict width for better readability */
  height: 410px;
  margin: 40px auto; /* Center the container with spacing */
  padding: 20px; /* Add padding for spacing */
  background-color: rgba(
    20,
    20,
    20,
    0.8
  ); /* Semi-transparent background for depth */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for elevation */
  color: #e9ecef; /* Text color for contrast */
}

.about-container h1 {
  text-align: center; /* Center align the heading */
  margin-bottom: 20px; /* Space below heading */
  font-size: 2.5rem; /* Font size for the main title */
  color: #007bff; /* Color to match your theme */
}

.about-container p {
  line-height: 1.6; /* Improved line height for readability */
  margin-bottom: 15px; /* Space below each paragraph */
}

.highlight {
  font-weight: bold; /* Emphasize highlighted text */
  color: #f0ad4e; /* Different color for emphasis */
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-container {
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .about-container h1 {
    font-size: 2rem; /* Slightly smaller heading */
  }

  .about-container p {
    font-size: 1rem; /* Adjust font size for paragraphs */
  }
}
