{% extends 'base.html' %}
{% block start %}
<!-- Navigation Bar -->
{% include 'navbar.html' %}

<!-- Main Content -->
<div class="about-container">
    <h1>About Us</h1>
    <p>Welcome to ScraperApp! Our mission is to provide you with the best tools to extract and analyze data from
        various sources effortlessly.</p>
    <p>Our team of dedicated professionals is committed to continuously improving our platform to meet your needs
        and exceed your expectations.</p>
    <p class="highlight">Thank you for choosing ScraperApp. We are here to help you with all your data scraping
        needs!</p>
</div>

<!-- Our Founders -->
<div class="about-container founders">
    <div class="founder-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWXRRVyQ7rGBN9vYjvP_KOYAB_mFhMt6Qd2g&s"
            alt="Founder 1">
        <h5>Founder 1</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus fermentum felis.</p>
    </div>
    <div class="founder-card main-founder-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ82kp56X6dqohqVP1_KWNP8urYCUjMUjTQkQ&s"
            alt="Main Founder">
        <h5>Main Founder</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus fermentum felis.</p>
    </div>
    <div class="founder-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy6euqkuPPPZuAdDot4OBFwmgb_BTuEVSl6Q&s"
            alt="Founder 2">
        <h5>Founder 2</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus fermentum felis.</p>
    </div>
</div>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
{% endblock %}