{% extends 'base.html' %}
{% block start %}

{% include 'navbar.html' %}

<div class="main-container">
    <!-- Error Handling -->
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <h1>CSV File: {{ file_name }}</h1>

    <!-- Analysis Section -->
    <div class="analysis-section">
        <h2>Analysis</h2>
        {% if avg_price %}
        <button class="btn btn-info">Average Price: ₹{{ avg_price|floatformat:2 }}</button>
        {% else %}
        <button class="btn btn-info">Average Price: Data not available</button>
        {% endif %}
        {% if discounted_price %}
        <button class="btn btn-info">Discounted Price: ₹{{ discounted_price|floatformat:2 }}</button>
        {% else %}
        <button class="btn btn-info">Discounted Price: Data not available</button>
        {% endif %}
        {% if avg_rating %}
        <button class="btn btn-info">Average Rating: {{ avg_rating|floatformat:1 }}</button>
        {% else %}
        <button class="btn btn-info">Average Rating: Data not available</button>
        {% endif %}
    </div>

    <!-- Button to open the modal -->
    <button type="button" class="btn btn-primary" id="showGraphButton">
        Show Graph
    </button>

    <!-- Table Container -->
    <div class="table-container">
        <div class="table-wrapper">
            {{ table_html|safe }}
        </div>
    </div>

</div>

<!-- Button to open the modal -->
<button type="button" class="btn btn-primary" id="showGraphButton">
    Show Graph
</button>

<!-- Scroll Buttons -->
<div class="scroll-buttons">
    <button onclick="scrollToTop()">Scroll to Top</button>
    <button onclick="scrollToBottom()">Scroll to Bottom</button>
</div>



<!-- Modal HTML -->
<div class="modal fade" id="graphModal" tabindex="-1" aria-labelledby="graphModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="graphModalLabel">Graph</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Chart will go here -->
                <canvas id="chartCanvas"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

</script>
{% endblock %}